[Unit]
Description=airflow
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=-{{ airflow_dir }}/airflow.env
Type=simple
Restart=always
RestartSec=60s
TimeoutStartSec=20
User={{ airflow_user }}
ExecStart=/bin/bash -c '\
    source {{ airflow_dir }}/venv/bin/activate && \
    {{ airflow_dir }}/venv/bin/airflow webserver -p {{ airflow_port }}'

[Install]
WantedBy=multi-user.target